h1 {
	background-color: #352AFF;
	text-align: center;
	font-size: 35px;
	border-style: dotted; color: white
}

body {
	background-color: #2490FF;
	text-align: center;
	color: white;
}

footer {
	text-align: center;
	font-size: 15px;
	color: black;
}

table {
	border:solid; color: white;
	text-align: center;
	font-size: 24px;
	color: black
}



nav ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  background-color: #352AFF;
  overflow: hidden;
  border-style: inset;


  display: inline-block;
  
}


nav li a {
  display: block;
  color: #7AD2FF;
  padding: 5px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #0E01A7;
  font-size: 20px;
  
}

nav li {
  float: left;
}

nav li a.active{
  background-color: #0E01A7;
  font-size: 20px;
}


#Track_and_Field {
	font-size: 30px;
}

#Conference{
	font-size: 30px;
}

#How{
	font-size: 30px
}

#tution{
	font-size: 30px;
}