h1 {
    color: #FFFFFF;
}
ul.header {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #010D5C;
}
li {
    float: left;
}
li a{
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

li a:hover{
    background-color: #4BA80A; /* #0218A8 */
}

li a.active{
    background-color: #01138F;
    color: #FFFFFF;
}

ul.schedule{
    list-style: square inside url('../img/basketball.png');
    margin: 0;
    padding: 2px;
}
